.promo {
    display: grid;
    grid-template-rows: 1fr minmax(min-content, max-content);
    grid-template-columns: 1fr;
    background-color: #F5F5F5;
    height: 493px;
    justify-items: center;
    margin: 20px 40px 0;
}

.promo__header {
    align-self: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    width: 65%;
}

.promo__nav-tab {
    margin: 0 0 30px;
}