.profile {
    min-height: 100vh;
    display: grid; 
    grid-template-rows: minmax(min-content, max-content) 1fr;
}

.profile__container {
    display: grid;
    grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
    align-content: flex-end;
    justify-items: center;
    margin: 74px 435px 70px;
}

.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}

.profile__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 106px 0 0
}

.profile__actions {
    grid-auto-flow: row;
    align-content: center;
    justify-items: center;
    row-gap: 16px;
}

.profile__edit {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}

.profile__logout {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FF4062;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

@media (max-width: 1279px) {
    .profile__container {
        margin: 236px 179px 269px;
    }
    
    .profile__fields {
        margin: 79px 0 0;
    }
}

@media (max-width: 767px) {
    .profile__container {
        margin: 70px 30px 40px;
    }

    .profile__fields {
        width: 100%;
        margin: 63px 0 0;
    }

    .profile__edit {
        font-size: 12px;
        line-height: 15px;
    }
    
    .profile__logout {
        font-size: 12px;
        line-height: 15px;
    }
}