.navigation {
    column-gap: 16px;
}

.navigation__link {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}