.about-me {
    padding: 110px 70px 100px;
    display: flex;
    flex-direction: column;
}

.about-me__main {
    display: grid;
    grid-template-columns: minmax(min-content, 600px) 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content)) 1fr minmax(min-content, max-content);
    grid-template-areas: "name photo"
                        "about photo"
                        "desc photo"
                        "links photo";
    column-gap: 49px;
}

.about-me__name {
    grid-area: name;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
}

.about-me__about {
    grid-area: about;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
} 

.about-me__description {
    grid-area: desc;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.about-me__photo {
    grid-area: photo;   
    max-width: 270px; 
    justify-self: flex-end;
    margin: 66px 0 0;
}

.about-me__links {
    grid-area: links;
    column-gap: 20px; 
    width: fit-content;
    align-self: flex-end;
}

.about-me__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #000;
}

@media (max-width: 1279px) {
    .about-me {
        padding: 90px 50px;
    }

    .about-me__name {
        font-size: 40px;
        line-height: 40px;
    }

    .about-me__about {
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__description {
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__photo {
        max-width: 255px;
    }
}