.movies {
    display: flex;
    flex-direction: column;
}

.movies__more-button {
    width: 320px;
    height: 36px;
    margin: 50px auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: #F9F9F9;
    border-radius: 6px;
    color: #000;
}