.movies {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
    min-height: 100%;
    align-content: center;
}

.movies__more-button {
    width: 320px;
    height: 36px;
    margin: 50px auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: #F9F9F9;
    border-radius: 6px;
    color: #000;
}