.internal-link {
    opacity: 1;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    text-align: center;
}

.internal-link:hover {
    opacity: 0.7;
    transition: opacity 0.4s linear;
}