.site-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    padding: 20px 0;
}

.site-link_underlined {
    border-bottom:  #E8E8E8 solid 1px;
}

.site-link__title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin: 0;
}