.header {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) 1fr;
    flex-direction: row;
    padding: 0 70px;
}

.header__logo {
    margin: 18px 44px 18px 0;
}

.header__auth {
    justify-self: flex-end;
}